.input{ 
    position: relative;
    display: flex;
    flex-direction: column; 
    gap: 5px; 
} 

.input > label{
    
}

.input > input{
    background-color: #fff;
    color: #444;
    padding: .6rem .7rem;
    border: 1px solid #5715db;
    border-radius: 5px;
    font-size: 1rem;
}

.input > input:focus{
    outline: none;
}