.select{ 
    display: flex;
    flex-direction: column;  
    gap: 5px; 
    margin-bottom: 20px;       
} 

.select{
    position: relative;
    display: flex;
    flex-direction: column;
}

.select > label{
   
}

.select > select{
    background-color: #fff;
    color: #444;
    padding: .6rem .7rem;
    border: 1px solid #5715db;
    border-radius: 5px;
    font-size: 1rem;
}

.select > select:focus{
    outline: none;
}