.cadastro-Livro{
    background-color: #eee;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 2rem;
    margin: 10px 0;
}

.cadastro-livro__header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}

.cadastro-Livro__title{
    font-size: 1.5rem;
}

.cadastro-Livro__title > span{
    color: #5715db;
    font-weight: 1000;
}

.cadastro-livro__form > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cadastro-livro__button-submit{
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #5715db;
    cursor: pointer;
}

.cadastro-livro__button-submit:hover{
    background-color: #5715db;
    color: #fff;
    border: 1px solid #5715db;
}